<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/learn/{{ package_data.get('package_id') }}">Learn more about this package</a>
    <a href="/cards/add_card/{{ package_data.get('package_id') }}">Learn more about this package</a>
    <a href="/cards/show_cards/{{ package_data.get('package_id') }}">Learn more about this package</a>
    
</body>
</html>